<ion-content [fullscreen]="true" class="ion-padding">
<div>
<ion-title class="title">
  Welcome back
</ion-title>
<p class="subTitle">Sign in to access your account</p>
</div>

<form>
  <div class="ion-padding">
    <ion-item>
      <ion-input placeholder="username" class="input">
        <ion-icon name="person-outline"></ion-icon>
      </ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input class="input" placeholder="password">
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-input>
    </ion-item>
    <br>
    <div class="forgot">
      <a [routerLink]="['/reset-psw']" class="forgotL">
        Forgot Password?
      </a>
    </div>
    <div class="signupLink">
      <p>New student?<a [routerLink]="['/signup']" class="forgotL1">Signup now</a></p>
    </div>
    <ion-fab vertical="bottom" horizontal="end" class="mb-4"> 
      <ion-fab-button [routerLink]="['/home']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</form>
</ion-content>
