<ion-content [fullscreen]="true">
<div>
<ion-title>
  Welcome back
</ion-title>
<p>Sign in to access your account</p>
</div>

<form>
  <div class="ion-padding">
    <ion-item>
      <ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-input>
    </ion-item>
    <div>
      <a [routerLink]="['/reset-psw']">
        Forgot Password?
      </a>
    </div>
    <div>
      <p>Signup now</p>
    </div>
    <ion-fab vertical="bottom" horizontal="end" class="mb-4"> 
      <ion-fab-button [routerLink]="['/home']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</form>
</ion-content>
