.title{
    text-align: center;

}
.subTitle{
    text-align: center;
}
.input{
    display: contents;
    font-size: 300;
}
.forgotL{
    color: #ffc33f
}
ion-item{
    --background:#f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
}
.header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .subTitle{
        color: gray;
        font-size: 0.9rem;
    }
    .title{
        font-size: 2rem;
    }
}
.signupLink{
    display: flex;
    margin: auto;
    flex-direction: row;
    align-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80%;
    right: 0;

    p{
        font-size: 0.9rem;
    }
    a{
        text-decoration: none;
    }
}
.forgotL1{
    justify-content: flex-end;
color: #ffc33f;
}
.forgotL{
    justify-content: flex-end;
    display: flex;
    a{
        font-weight: 400;
        font-size: 0.8rem;
        text-decoration: none;
    }
}